@import './node_modules/tailwindcss/dist/base.css';
@import './node_modules/tailwindcss/dist/components.css';
@import './node_modules/tailwindcss/dist/utilities.css';

.cp-parallelogram {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/*Transition utility*/
.t-all {
  transition: all 0.3s;
}
.t-all-slow {
  transition: all 0.6s;
}
.t-all-fast {
  transition: all 0.1s;
}

.t-background {
  transition: background 0.3s;
}
.t-background-slow {
  transition: background 0.6s;
}
.t-background-fast {
  transition: background 0.1s;
}
